.Body{
    max-width: 960px;
    margin: auto;
    background-color: rgb(33,33,33);
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    border-style: ridge;
}
h1{
    text-align: center;
}
.hr{
    margin: auto;
    width: 80%;
}
a:link {
    color:grey;
}
a:visited {
    color:grey;
}
a:hover {
    color: lightgray;
}
a:active {
    color: darkgray;
}
.video{
    display: block;
    border: 4px grey;
    border-style: ridge;
    margin: auto;
    width: 50%;
}
.picture{
    display: block;
    margin: auto;
    width: 50%;

}
h2{
    text-align: center;
}

p{
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid grey;
    text-align: left;
    padding: 6px;
}
.Album span { 
    font-style: italic;
}

